	* {
	margin: -2 0 -2 0;
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */

    font-family: Product Sans Medium,Google Sans Medium, San Francisco Text,Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}
window#waybar {
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    background-color: #404552;
    color: #ffffff;
    border:  2px solid #4b5162;
    /*border-bottom:  0.2px solid #ffffff;*/
    transition-property: background-color;
    transition-duration: .5s;
}transition

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}
	
#workspaces button {
	margin: 12 0 12 10;
	/* font-size: 25px; */
	padding: 2px 8px 2px 8px;
	border-radius: 5px;
    background-color: #4b5162;
    color: #ffffff;
    border: 1px solid #404552;
}

#window {
	margin-left: 10px;
  /* font-size: 14px; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
   /*  border-bottom: 3px solid #ffffff; */
}

#workspaces button.focused {
    background-color: #5294e2;
    border: 1px solid  #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#custom-suspend,
#custom-exit,
#custom-pacman,
#custom-name,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-weather,
#disk,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

#custom-exit {
	background-color: #4378a2;
	margin: 10 8 10 0;
	padding: 3px 8px 3px 8px;
	border-radius: 0 5 5 0;
}

#custom-suspend {
	background-color: #4378a2;
	font-size: 20px;
	margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px 0 0 5px;
}

#custom-name {
    background-color: #5294e2;
	margin: 10 0 10 8;
	padding: 3px 10px 3px 10px;
	border-radius: 5px;
    border: 2px solid  #85B4EA;
}

#custom-pacman {
	background-color: #D3B67D;
	margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
}

#clock {
    background-color: #4b5162;
	margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    
}

#battery {
    background-color: #CDCDCD;
	margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #7c7772;
	margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    
}

#memory {
    background-color: #777777;
	margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
}

#backlight {
    background-color: #CDCDCD;
	margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
}

#network {
    background-color: #d08770;
	margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;    
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #5076a7;
	margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    
}

#custom-weather {
    background-color: #e4908e;
	margin: 10 0 10 10;
	padding: 5px 8px 3px 8px;
	border-radius: 5px;
}

#pulseaudio.muted {
    background-color: #b1b190;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
	margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    
}

#custom-media.custom-spotify {
    background-color: #66cc99;
	margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    
}

#custom-media.custom-vlc {
    background-color: #ffa000;
    margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;    
}


#temperature {
    background-color: #CDCDCD;
	margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
   
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #65737e;
	margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
}

#disk {
    background-color: #586f77;
    margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
   
}

#idle_inhibitor {
    background-color: #7c818c;
	margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;    
}

#idle_inhibitor.activated {
    background-color: #cdcdcd;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
	margin: 10 0 10 10;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    border: 1px solid #ffffff;
}


#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
