* {
	/* margin: ; */
    border: none;
    padding: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: San Francisco Text, MesloLGS NF, Arial, sans-serif; */
  /* font-family: JetBrains Mono, Ubuntu Mono; */
   font-size: 13px;
   margin: 0;
   /* font-family: Ubuntu ,Arial, Helvetica, sans-serif; */
   font-family: Product Sans ,Arial, Helvetica, sans-serif;
   font-weight: 500;
}

window#waybar {
    background-color: transparent;
    /* background-color: #3b4252; */
    /*  */
    /* border-radius: 5px; */
    /* border-radius: 5; */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    box-shadow: 0px 0px 8px 10px #0d0d0d;
}transition

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
  background-color:  #3b4252;
  padding: 0 10 0 10;
  font-size: 15px;
  border-radius: 15px;
  margin-right: 7;
/*     padding-left: 5; */
}

#workspaces button {
	font-size: 14px;
	border-radius: 0px;
  margin: 0;
  padding: 5px;
  background-color: transparent;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: #ffffff;
}

#window {
  background-color: transparent;
  color: #3b4252;
	padding: 15px;
	padding: 0 10 0 10;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  /* border-radius: 0 5 5 0; */
	/* border-bottom: 3px solid #ebcb8b; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    /* background: rgba(0, 0, 0, 0.2); */
    box-shadow: inherit;
    color: #5e81ac;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #5e81ac;
}

#workspaces button.focused {
    color: #81a1c1;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #81a1c1;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

/* #workspaces, */
#workspaces button,
#custom-power,
#custom-exit,
#custom-pacman,
#custom-name,
#custom-github,
#custom-reddit,
#custom-youtube,
#custom-crunchyroll,
#custom-mail,
#custom-newtab,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#disk,
/* #taskbar */
#custom-waybar-media
#custom-waybar-media.playing
#custom-waybar-media.paused
#custom-waybar-media.stopped
#custom-waybar-mpris
#taskbar button
#taskbar button.active
#taskbar button.minimized
#taskbar
#taskbar button.fullscreen
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

/* WAYBAR-MEDIA */

#custom-waybar-media {
  background-color:  #3b4252;
  padding: 0 15 0 15;
  border-radius: 15px;
	/* padding: 0px 8px 0px 8px; */
}

#custom-waybar-media.playing {
  background-color:  #5e81ac;
	padding: 0px 8px 0px 8px;
	margin: 0;
}

#custom-waybar-media.paused {
  background-color:  #3b4252;
	padding: 0px 8px 0px 8px;
	margin: 0;
}

#custom-waybar-media.stopped {
	padding: 0px 8px 0px 8px;
	margin: 0;
}

#custom-waybar-mpris {
	padding: 0px 10px 0px 10px;
	margin: 0;
}

/* TASKBAR */

#taskbar {
    background-color:#4b5162;
	margin: 0;
	padding: 0;
}

#taskbar button {
	padding: 0 10 0 10;
	margin: 0;
}

#taskbar button.active {
    background-color:  #5e81ac;
}

#taskbar button.minimized {
    background-color: #7c818c;
}

#taskbar button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
}

/* BROWSER BOOKMARKS */

#custom-newtab {	
  background-color:  #3b4252;
	font-size: 14px;
	padding: 0 12 0 12;
	margin-right: 0;
	color: #bf616a;
    border-radius: 15px 0 0 15px;
}

#custom-github {
  background-color:  #3b4252;
	padding: 0 12 0 12;
	font-size: 13px;
	margin: 0;
	color: #d08770;
}

#custom-reddit {
  background-color:  #3b4252;
	padding: 0 12 1 12;
	font-size: 13px;
	margin: 0;
	color: #ebcb8b;
}

#custom-crunchyroll {
  background-color:  #3b4252;
	padding: 0 12 0 12;
	font-size: 13px;
  margin: 0;
	color: #a3be8c;
      border-radius: 0 15px 15px 0;
	margin-right: 10;
}

#custom-youtube {
  background-color:  #3b4252;
	padding: 0 12 0 12;
	font-size: 13px;
	margin:0;
	color: #b48ead;
}

#custom-mail {
  margin: 0;
  background-color:  #3b4252;
	font-size: 13px;
	padding: 0 2 0 12;
	color: #88c0d0;
}

/* WIDGETS */
#clock {
  background-color: #5e81ac;
  border-radius: 10px;
  padding: 0px 8px 0px 8px;
  margin-right: 7;
  font-weight: 600;
}

#custom-pacman {
  background-color:  #3b4252;
	padding: 0px 8px 0px 8px;
	margin: 0;
  color: #ebcb8b;
  font-weight: 600;
}

#cpu {
  margin: 0;
  background-color:  #3b4252;
	padding: 0px 8px 0px 8px;
}

#memory {
  margin: 0;
  background-color:  #3b4252;
	padding: 0px 8px 0px 8px;
}

#backlight {
  margin: 0;
  background-color:  #3b4252;
  padding: 0px 8px 0px 8px;
}

#network {
  margin: 0;
  background-color:  #3b4252;
	padding: 0px 8px 0px 8px;
}

#network.disconnected {
  background-color:  #3b4252;
  background-color: #bf616a;
}

#pulseaudio {
  margin: 0;
  background-color:  #3b4252;
	padding: 0px 10px 0px 10px;
}

#custom-weather {
  margin: 0;
  background-color: #3b4252 ;
	padding: 0 8 0 8;
/* 	marginj: 0; */
	border-bottom: 3px solid #7b9b96;
}

#pulseaudio.muted {
  background-color: #b1b190;
  color: #2a5c45;
}

#custom-media {
  margin: 0;
  background-color: #3b4252 ;
	padding: 0px 8px 0px 8px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
	padding: 0px 8px 0px 8px;
}

#custom-media.custom-vlc {
  background-color: #3b4252 ;
	padding: 0px 8px 0px 8px;
	border-radius: 5px;    
}


#temperature {
  background-color: #3b4252 ;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  margin: 0;
  background-color: #3b4252 ;
	padding: 0px 12px 0px 8px;
    border-radius: 0 15px 15px 0;
    margin-right: 7;
    color: #8fbcbb;
}

#battery {
  margin: 0;
  background-color: #3b4252 ;
	padding: 0px 8px 0px 8px;
}

#battery.charging {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#disk {
  background-color: #3b4252 ;
  margin: 0;
}

#idle_inhibitor {
  margin: 0;
  background-color: #3b4252 ;
	font-size: 20px;
  color: #6f7787;
  padding-left: 12px;
  border-radius: 15px 0 0 15px;
}

#idle_inhibitor.activated {
  color: #ffffff;
}

#custom-power {
  background-color:  #DB8E9D;
  /* background-color: #3b4252 ; */
  font-weight: normal;
	font-size: 16px;
	padding: 0px 13px 0px 13px;
  /* border-radius: 0 15px 15px 0; */
  border-radius: 10px;
}

#mpd {
    background-color: #66cc99;
	padding: 3px 8px 3px 8px;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

