	* {
	margin: -2 0 -2 0;
    border: none;
    border-radius: 0;
    padding: 5 1 5 1;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Product Sans Medium,Google Sans Medium, San Francisco Text,Roboto, Helvetica, Arial, sans-serif;
    /* font-size: 13px; */
}
window#waybar {
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    background-color: #3b4252;
    color: #ffffff;
    /* border-radius: 5px; */
    /* border:  2px solid #4b5162; */
    /* border-bottom: 3 solid transparent; */
    transition-property: background-color;
    transition-duration: .5s;
    /* box-shadow: 0px 0px 10 1 #4b5162 inset; */
}transition

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* window#waybar.termite { */
    /* background-color: #3F3F3F; */
/* } */
/*  */
/* window#waybar.chromium { */
    /* background-color: #000000; */
    /* border: none; */
/* } */

#workspaces button {
	font-size: 14px;
	padding: 0 8 0 8;
	margin-right: 8px;
	border-radius: 5px;
    background-color: #4b5162;
    color: #ffffff;
    box-shadow: 0px 0px 3 1 #383c4a;
    /* border: 1px solid #404552; */
}

#window {
	padding-left: 5px;
	/* margin-right: 15px; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
   /*  border-bottom: 3px solid #ffffff; */
}

#workspaces button.focused {
    background-color: #5294e2;
    /* border: 1px solid  #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#custom-suspend,
#custom-exit,
#custom-pacman,
#custom-name,
#custom-github,
#custom-reddit,
#custom-youtube,
#custom-crunchyroll,
#custom-mail,
#custom-newtab,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-weather,
#disk,
#taskbar
#taskbar button
#taskbar button.active
#taskbar button.minimized
#taskbar button.maximized
#taskbar button.fullscreen
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

/* Taskbar */

#taskbar {
    /* background-color: #404552; */
	/* padding: 3px; */
	margin-right: 5;
	border-radius: 5px;
}

#taskbar button {
	/* font-size: 25px; */
	/* padding: 2px 8px 2px 8px; */
	padding: 0;
	margin-left: 2;
	/* margin: 0; */
	border-radius: 5px;
    /* background-color: #404552; */
    box-shadow: 0px 0px 3 1 #383c4a;
    color: #ffffff;
}

#taskbar button.active {
    background-color: #4b5162;
}

#taskbar button.minimized {
    background-color: #7c818c;
}

#taskbar button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
   /*  border-bottom: 3px solid #ffffff; */
}

/* BROWSER BOOKMARKS */

#custom-newtab {
	background-color: #4c566a;
	font-size: 18px;
	padding: 0 12 0 12;
    border-radius: 5;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#custom-github {
	background-color: #4c566a;
	padding: 0 12 0 12;
	border-radius: 5;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#custom-reddit {
	background-color: #4c566a;
	font-size: 14px;
	padding: 0 12 0 12;
	border-radius: 5;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#custom-crunchyroll {
	background-color: #4c566a;
	font-size: 16px;
	padding: 0 12 0 12;
	border-radius: 5;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#custom-youtube {
	background-color: #4c566a;
	padding: 0 12 0 12;
	border-radius: 5;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#custom-mail {
	background-color: #4c566a;
	font-size: 18px;
	padding: 0 12 0 12;
	border-radius: 5;
    box-shadow: 0px 0px 3 1 #383c4a;
}

/* WIDGETS */

#custom-exit {
	background-color: #4b5162;
	/* margin-left: 0; */
	padding: 3px 8px 3px 8px;
	border-radius: 5;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#custom-suspend {
	background-color: #4b5162;
	font-size: 20px;
	/* margin-right: 0; */
	padding: 3px 10px 3px 10px;
	border-radius: 5;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#custom-suspend:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#custom-name {
    background-color: #434c5e;
	padding: 0px 10px 0px 10px;
	border-radius: 5px;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#custom-pacman {
	background-color: #189fbd;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#clock {
    background-color: #4b5162;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    /* font-size: 16px; */
    box-shadow: 0px 0px 3 1 #383c4a;
}

#battery {
    background-color: #CDCDCD;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #714656;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#memory {
    background-color: #5294e2;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#backlight {
    background-color: #4b5162;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#network {
    background-color: #7c818c;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;    
    box-shadow: 0px 0px 3 1 #383c4a;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #5076a7;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;    
    box-shadow: 0px 0px 3 1 #383c4a;
}

#custom-weather {
    background-color: #A37378;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#pulseaudio.muted {
    background-color: #b1b190;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    
}

#custom-media.custom-spotify {
    background-color: #66cc99;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    
}

#custom-media.custom-vlc {
    background-color: #ffa000;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;    
}


#temperature {
    background-color: #b48ead;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;   
    box-shadow: 0px 0px 3 1 #383c4a;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #4b5162;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#disk {
    background-color: #9a3f45;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#idle_inhibitor {
    background-color: #A37378;
	padding: 3px 10px 3px 10px;
	border-radius: 5px;
	font-size: 20px;
    box-shadow: 0px 0px 3 1 #383c4a;
}

#idle_inhibitor.activated {
    background-color: #cdcdcd;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 3 1 #383c4a;
}


#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
