	* {
	margin: -2 0 -2 0;
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Product Sans Medium,Google Sans Medium, San Francisco Text,Roboto, Helvetica, Arial, sans-serif;
    /* font-size: 13px; */
}
window#waybar {
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    background-color: #404552;
    color: #ffffff;
    /* border-radius: 5px; */
    /* border:  2px solid #4b5162; */
    border-bottom: 3px solid transparent;
    transition-property: background-color;
    transition-duration: .5s;
}transition

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* window#waybar.termite { */
    /* background-color: #3F3F3F; */
/* } */
/*  */
/* window#waybar.chromium { */
    /* background-color: #000000; */
    /* border: none; */
/* } */

#workspaces button {
	margin: 14 4 14 4;
	/* font-size: 25px; */
	padding: 0 8 0 8;
	border-radius: 5px;
    background-color: #4b5162;
    color: #ffffff;
    /* border: 1px solid #404552; */
}

#window {
	margin-left: 6px;
	/* font-family:  San Francisco Text; */
	/* font-weight: bold; */
	padding-top: 1px;
  /* font-size: 14px; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
   /*  border-bottom: 3px solid #ffffff; */
}

#workspaces button.focused {
    background-color: #5294e2;
    /* border: 1px solid  #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#custom-suspend,
#custom-exit,
#custom-pacman,
#custom-name,
#custom-github,
#custom-reddit,
#custom-youtube,
#custom-mail,
#custom-newtab,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-weather,
#disk,
#taskbar
#taskbar button
#taskbar button.active
#taskbar button.minimized
#taskbar button.maximized
#taskbar button.fullscreen
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

/* Taskbar */

#taskbar {
    background-color:  #4b5162;
	margin: 11 8 11 0;
	padding: 3px;
	border-radius: 5px;
}

#taskbar button {
	/* font-size: 25px; */
	/* padding: 2px 8px 2px 8px; */
	padding: 3 1 3 7;
	margin: 0;
	border-radius: 5px;
    background-color: #4b5162;
    color: #ffffff;
}

#taskbar button.focused {
    background-color: #5294e2;
}

#taskbar button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
   /*  border-bottom: 3px solid #ffffff; */
}

/* Browser bookmarks */

#custom-github {
	background-color: #4b5162;
	margin: 12 0 12 4;
	/* font-size: 15px; */
	padding: 3 8 3 8;
	border-radius: 5 0 0 5;
}

#custom-reddit {
	background-color: #4b5162;
	margin: 12 0 12 0;
	font-size: 14px;
	padding: 3px 8px 3px 8px;
	/* border-radius: 0 5 5 0; */
}

#custom-youtube {
	background-color: #4b5162;
	/* font-size: 16px; */
	margin: 12 0 12 0;
	padding: 4px 8px 3px 8px;
	/* border-radius: 0 5 5 0; */
}

#custom-mail {
	background-color: #4b5162;
	margin: 12 4 12 0;
	font-size: 18px;
	padding: 4px 10px 3px 8px;
	border-radius: 0 5 5 0;
}

#custom-newtab {
	background-color: #4b5162;
	font-size: 18px;
	margin: 12 4 12 4;
    padding: 3px 12px 3px 12px;
    border-radius: 5;
}

/* Tabs */

#custom-exit {
	background-color: #4b5162;
	margin: 12 8 12 0;
	padding: 3px 8px 3px 8px;
	border-radius: 0 5 5 0;
}

#custom-suspend {
	background-color: #4b5162;
	font-size: 20px;
	margin: 12 0 12 4;
	padding: 3px 8px 3px 8px;
	border-radius: 5px 0 0 5px;
}

#custom-suspend:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#custom-name {
    background-color: #4b5162;
	margin: 12 4 12 8;
	padding: 0px 10px 0px 10px;
	border-radius: 5px;
	/* font-size: 18px; */
	/* font-family:  San Francisco Text; */
    border: 2px solid  #5D6271; 
}

#custom-pacman {
	background-color: #189fbd;
	margin: 12 0 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
}

#clock {
    background-color: #4b5162;
	margin: 12 4 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    font-size: 16px;
}

#battery {
    background-color: #CDCDCD;
	margin: 12 0 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #714656;
	margin: 12 0 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    
}

#memory {
    background-color: #5294e2;
	margin: 12 0 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
}

#backlight {
    background-color: #CDCDCD;
	margin: 12 0 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
}

#network {
    background-color: #7c818c;
	margin: 12 0 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;    
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #5076a7;
	margin: 12 0 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    
}

#custom-weather {
    background-color: #A37378;
	margin: 12 0 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
}

#pulseaudio.muted {
    background-color: #b1b190;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
	margin: 12 0 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    
}

#custom-media.custom-spotify {
    background-color: #66cc99;
	margin: 12 0 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    
}

#custom-media.custom-vlc {
    background-color: #ffa000;
	margin: 12 0 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;    
}


#temperature {
    background-color: #CDCDCD;
	margin: 12 0 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
   
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #4b5162;
	margin: 12 0 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
}

#disk {
    background-color: #9a3f45;
	margin: 12 0 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
   
}

#idle_inhibitor {
    background-color: #A37378;
	margin: 12 0 12 8;
	padding: 3px 10px 3px 10px;
	border-radius: 5px;
	font-size: 20px;
}

#idle_inhibitor.activated {
    background-color: #cdcdcd;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
	margin: 12 0 12 8;
	padding: 3px 8px 3px 8px;
	border-radius: 5px;
    border: 1px solid #ffffff;
}


#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
