#bar {
    margin: 30px /* affects top/bottom & left/right alignment */
}

button, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #999
}

button {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px
}

button:hover {
    background-color: rgba (216, 222, 233, 0.1)
}

button:focus {
    box-shadow: 0 0 2px;
}

grid {
    background-color: rgba(46,52,64, 1);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px black;
    /* e.g. for common background to all buttons */
}

