#entry:selected {
background-color: rgba(0,0,0,0);
}
 
#text:selected {
color: #5e81ac;
}
 
window {
margin: 5px;
background-color: #2e3440;
border: 2px solid #5e81ac;
}

#input {
/* margin: 5px; */
margin: 15;
background-color: none;
border: 2px solid #5e81ac;
border-radius: 0;
}

#inner-box {
color: #e4b86e;
margin: 5px;
background-color: none;
}

#outer-box {
margin: 15px;
background-color: none;
}

#scroll {
margin: 5px;
border-radius: 7px;
background-color: none;
}

#text {
margin: 5px;
background-color: none;
font-familly: Product Sans Medium;
} 
