#entry {
background-color: transparent;
border: none;
}
#entry:selected {
background-color: #2e3440;
border: none;
}
 
#text:selected {
color: #5e81ac;
font-weight: bold;
}
 
#window {
margin: 5px;
background-color: #404552;
border: 2px solid #5e81ac;
border-radius: 9px;
}

#input {
/* margin: 5px; */
margin: 10 10 5 10;
background-color: none;
border: 2px solid #4c566a;
border-radius: 0;
}

#inner-box {
color: #e4b86e;
margin: 5px;
background-color: transparent;
}

#outer-box {
margin: 15px;
background-color: transparent;
}

#scroll {
margin: 5px;
border-radius: 7px;
background-color: none;
border: none;
}

#scroll .box {

border: none;
}

#text {
margin: 5 15 5 15;
background-color: transparent;
font-family: Ubuntu;
border: none;
} 

#img {
  background-color: transparent;
}
